@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.hero-section {
    width: 100%;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    height: 100vh;
}

.hero-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: flex-start;
    margin-left: 150px;
    margin-top: -200px;
}

.hero-left-start {
    color: #27739e;
    font-weight: 700;
    font-size: 20px;
}

.hero-left-h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 490;
    font-style: normal;
    margin: 0px;
    font-size: 50px;
    margin-top: -10px;
}
.hero-left-h2 {
    font-family: "Poppins", italic;
    color: rgb(27, 143, 172);
    margin: 0px;
    font-size: 30px;
    margin-top: -10px;
    font-style: italic;
}

.hero-left-second {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: flex-start;
    margin-bottom: 20px;
}

.hero-left-h3 {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    font-size: 20px;
}

.hero-left-btn div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffac81;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
}


.hero-right-img {
    margin-right: -50px;
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.hero-right img {
    width: 250px;
    height: 250px;
}

.hero-right-img-1 {
    border-radius: 100px 0 0 100px;
}

.hero-right-img-4 {
    border-radius: 0 100px 100px 0;
}

.hero-right-img-2, .hero-right-img-3 {
    border-radius: 30px;
}

.hero-right-bg-1 {
    position: relative;
    background: #ffac81;
    height: 180px;
    width: 180px;
    border-radius: 100px;
    left: 400px;
    top: -592px;
    z-index: -1;
}

.hero-right-bg-2 {
    position: relative;
    background: #72ddf7;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    top: -230px;
    left: -50px;
    z-index: -1;
}

.login-link {
    text-decoration: none;
    color: inherit;
}

/* Responsive Design */
@media (max-width: 1280px) {
    .hero-left {
        margin-left: 100px;
        margin-top: -150px;
    }

    .hero-left-h1 {
        font-size: 50px;
    }

    .hero-left-h3 {
        font-size: 18px;
    }

    .hero-left-btn div {
        width: 140px;
        height: 45px;
        font-size: 18px;
    }

    .hero-right-img {
        margin-right: -30px;
        margin-top: 50px;
    }

    .hero-right img {
        width: 220px;
        height: 220px;
    }

    .hero-right-bg-1 {
        left: 300px;
        top: -500px;
        height: 150px;
        width: 150px;
    }

    .hero-right-bg-2 {
        top: -200px;
        left: -30px;
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 1040px) {
    .hero-left {
        margin-left: 70px;
        margin-top: -100px;
    }

    .hero-left-h1 {
        font-size: 45px;
    }

    .hero-left-h3 {
        font-size: 16px;
    }

    .hero-left-btn div {
        width: 130px;
        height: 40px;
        font-size: 16px;
    }

    .hero-right-img {
        margin-right: -20px;
        margin-top: 40px;
    }

    .hero-right img {
        width: 200px;
        height: 200px;
    }

    .hero-right-bg-1 {
        left: 250px;
        top: -450px;
        height: 140px;
        width: 140px;
    }

    .hero-right-bg-2 {
        top: -180px;
        left: -20px;
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 800px) {
    .hero-section {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .hero-left {
        width: 90%;
        margin-left: 0;
        margin-top: 0;
        text-align: center;
        align-items: center;
    }

    .hero-left-h1 {
        font-size: 40px;
    }

    .hero-left-h3 {
        font-size: 16px;
    }

    .hero-left-btn div {
        width: 120px;
        height: 40px;
        font-size: 16px;
    }

    .hero-right {
        margin-right: 0;
        margin-top: 20px;
    }

    .hero-right-img {
        margin-right: 0;
        margin-top: 20px;
        grid-template-columns: 1fr 1fr;
    }

    .hero-right img {
        width: 180px;
        height: 180px;
    }

    .hero-right-bg-1 {
        left: 200px;
        top: -300px;
        height: 120px;
        width: 120px;
    }

    .hero-right-bg-2 {
        top: -150px;
        left: 0;
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 500px) {
    .hero-left {
        width: 100%;
        margin-top: 20px;
    }

    .hero-left-h1 {
        font-size: 35px;
    }

    .hero-left-h3 {
        font-size: 14px;
    }

    .hero-left-btn div {
        width: 110px;
        height: 35px;
        font-size: 14px;
    }

    .hero-right-img {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .hero-right img {
        width: 160px;
        height: 160px;
    }

    .hero-right-bg-1 {
        left: 150px;
        top: -250px;
        height: 100px;
        width: 100px;
    }

    .hero-right-bg-2 {
        top: -120px;
        left: 10px;
        width: 50px;
        height: 50px;
    }
}