@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 20px;
    z-index: 100;
    margin-left: 100px;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 600px;
}

.nav-links a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.nav-logo{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: -50px;
}

.nav-logo a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
}

.nav-logo-img{
    width: 50px;
    height: 50px;
}

.login-btn{
    width: 130px;
    height: 50px;
    background: rgb(0, 21, 255);
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
}

.navbar-bottem{
    background: rgb(255, 217, 0);
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 600;
}

.navbar-bottem-blue{
    color: blue;
}